{% extends 'base.html' %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block body %}
    <div>
        <label for="select-region">Choose the region you want to visualize</label>
        <select class="region" id="select-region">
            {% for consumer in consumers %}
                <option value = {{ consumer.id }}> {{ consumer.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="graphs">
        <div id="consumption-chart" class="chart sankey" style="width: 600px; height: 600px"></div>
        <div>
            <div id="water-chart" class="chart" style="width: 600px; height: 200px;"></div>
            <div id="land-chart" class="chart" style="width: 600px; height: 200px;"></div>
            <div id="co2-chart" class="chart" style="width: 600px; height: 200px;"></div>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-cartesian.min.js"></script>
    <script>
        anychart.onDocumentReady(function(){

            function createSankeyChart(container, data, colors) {
                var chart = anychart.sankey(data.data);
                chart.nodeWidth("50%");
                chart.nodePadding(10); // vertical node padding
                chart.node().normal().fill(function() {
                    return colors[this.name] || this.sourceColor;
                });
                chart.node().hovered().fill(anychart.color.lighten(function() {
                    return colors[this.name] || this.sourceColor}, 0.8));
                chart.flow().hovered().fill(function() {
                    return colors[this.from] || this.sourceColor;
                });
                chart.container(container);
                chart.title(data.title);
                chart.draw();
                return chart;
            }
        
            function createBarChart(container, data, colors) {
                var chart = anychart.bar();
                chart.yScale().stackMode("value");
                data.data.forEach(function(data) {
                    var series = chart.bar(data.data);
                    series.id(data.label);
                    series.name(data.label);
                    series.fill(colors[data.label]);
                    series.stroke(colors[data.label]);
                });
                chart.container(container);
                chart.title(data.title);
                chart.draw();
                return chart;
            }

            function updateBarChartData(chart, chart_data) {
                chart_data.forEach(function(data) {
                    var series = chart.getSeries(data.label)
                    series.data(data.data)
                })
            }
            
            colors = {{data.colors|safe}};
            consumptionChart = createSankeyChart(container = "consumption-chart", data = {{data.consumption|safe}}, colors = colors);
            waterChart = createBarChart(container = "water-chart", data = {{data.water|safe}}, colors = colors);
            landChart = createBarChart(container = "land-chart", data = {{data.land|safe}}, colors = colors);
            co2Chart = createBarChart(container = "co2-chart", data = {{data.co2|safe}}, colors = colors);

            document.getElementById('select-region').addEventListener('change', function () {
                var consumer_id = this.value;
                fetch(`/data/${consumer_id}`)
                    .then(response => response.json())
                    .then(data => {
                        updateBarChartData(waterChart, data.water.data);
                        updateBarChartData(landChart, data.land.data);
                        updateBarChartData(co2Chart, data.co2.data);
                        consumptionChart.data(data.consumption.data);
                        consumptionChart.title("{{data.consumption.title}}");
                    });
            });
        });
    </script>
{% endblock %}