{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body %}
    <div class="main-container">
        <h1 class="main-title">Food consumption environmental impact</h1>
        <div class="card">
            <label for="consumer-select">Choose the data you want to visualize</label>
            <select class="button main-button" id="consumer-select">
                {% for consumer in consumers %}
                    <option value = {{ consumer.id }}> {{ consumer.name }}</option>
                {% endfor %}
                <option value=0>Customize</option>
            </select>

            <div class="grid" id="consumption-select" style="display: none;">
                {% for label, consumption in data.items %}
                <div class="sub-card">
                    <label for="{{label}}-select">{{label}}</label>
                    <input class="button" type="number" id="{{label}}-select" step="1" min="0" value={{ consumption.food }}>
                </div>
                {% endfor %}
                <div class="sub-card">
                    <button class="button main-button" id="apply-button">Apply changes</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="sankey-chart">
                <div id="sankey-chart" class="chart"></div>
            </div>
            <div class=" bar-chart">
                <div id="water-chart" class="chart"></div>
                <div id="land-chart" class="chart"></div>
                <div id="gas-chart" class="chart"></div>
            </div>
        </div>
    </div>
    
{% endblock body %}

{% block script %}
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-cartesian.min.js"></script>
    <script>
        anychart.onDocumentReady(function() {
            const applyButton = document.getElementById("apply-button");
            const dataSelect = document.getElementById("consumption-select");
            const consumerSelect = document.getElementById("consumer-select");
            const foodTypes = {{food_types|safe}};
            const extraColors = {{extra_colors|safe}};
            const chartTitles = {{titles|safe}};
            var chartData = {{data|safe}};

            function getColor(name) {
                if (name == "Food" || name == "Feed") {
                        return extraColors[name];
                    }
                    return foodTypes[name].color;
            }

            function createSankeyChart(name) {
                var sankey_data = []
                Object.keys(foodTypes).forEach(function(label) {
                    sankey_data.push({"from": label, "to": "Food", "weight": chartData[label].food});
                    sankey_data.push({"from": label, "to": "Feed", "weight": chartData[label].feed});
                })
                var chart = anychart.sankey(sankey_data);
                chart.nodeWidth("50%");
                chart.nodePadding(10); // vertical node padding
                chart.node().normal().fill(function() { return getColor(this.name) || this.sourceColor; });
                chart.node().hovered().fill(function() { return getColor(this.name) || this.sourceColor; });
                chart.flow().hovered().fill(function() { return getColor(this.from) || this.sourceColor; });
                chart.container(name + "-chart");
                chart.title(chartTitles[name]);
                chart.draw();
                return chart;
            }

            function updateSankeyData(chart, name) {
                var sankey_data = []
                Object.keys(foodTypes).forEach(function(label) {
                    sankey_data.push({"from": label, "to": "Food", "weight": chartData[label].food});
                    sankey_data.push({"from": label, "to": "Feed", "weight": chartData[label].feed});
                });
                chart.data(sankey_data);
            }
        
            function createBarChart(name) {
                var chart = anychart.bar();
                chart.yScale().stackMode("value");
                Object.keys(foodTypes).forEach(function(label) {
                    var series_data = [
                        ["Food", chartData[label].food * foodTypes[label][name]],
                        ["Feed", chartData[label].feed * foodTypes[label][name]]
                    ];
                    var series = chart.bar(series_data);
                    series.id(label);
                    series.name(label);
                    series.fill(foodTypes[label].color);
                    series.stroke(foodTypes[label].color);
                });
                chart.container(name + "-chart");
                chart.title(chartTitles[name]);
                chart.draw();
                return chart;
            }

            function updateBarChartData(chart, name) {
                Object.keys(foodTypes).forEach(function(label) {
                    var series = chart.getSeries(label)
                    series.data([
                        ["Food", chartData[label].food * foodTypes[label][name]],
                        ["Feed", chartData[label].feed * foodTypes[label][name]]
                    ])
                })
            }

            function applyUserPreferences() {
                Object.keys(foodTypes).forEach(function(label) {  
                    chartData[label] = {
                            "food": document.getElementById(label + "-select").value,
                            "feed": chartData[label].feed
                        };
                    });
            }

            function updateCharts() {
                updateBarChartData(waterChart, name="water");
                updateBarChartData(landChart, name="land");
                updateBarChartData(gasChart, name="gas");
                updateSankeyData(consumptionChart, name="sankey");
            }

            consumptionChart = createSankeyChart(name = "sankey");
            waterChart = createBarChart(name = "water");
            landChart = createBarChart(name = "land");
            gasChart = createBarChart(name = "gas");

            applyButton.addEventListener('click', () => {
                applyUserPreferences();
                updateCharts();
            });

            consumerSelect.addEventListener('change', function () {
                var consumer_id = this.value;
                let dataPromise;
                if (consumer_id == 0) {
                    dataSelect.style.display = 'flex';
                    applyUserPreferences();
                    dataPromise = Promise.resolve();
                } else {
                    dataSelect.style.display = 'none';
                    dataPromise = fetch(`/data/${consumer_id}`)
                        .then(response => response.json())
                        .then(data => { 
                            chartData = data;
                        });
                }
                dataPromise.then(() => { updateCharts() });
            });
        });
    </script>
{% endblock %}